
<p>
  address: <%= @address %>
</p>

<p>
  address recovered: <%= @address_recovered %>
</p>

<p>
  signature: <%= @signature %>
</p>

<p>
  nonce: <%= @nonce %>
</p>

<p>
  nonce ascii: <%= @nonce_ascii %>
</p>

<p>
  timestamp: <%= @timestamp %>
</p>
